MONGO_URL=mongodb+srv://toprak:1@cluster0.htwn0ni.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
GMAIL_ADDRESS=ceoftoprak@gmail.com
GMAIL_PASS=ybeu umkc haed bptl
COMPANY_MAIL=altintoprak06@gmail.com
FRONTEND_URL=http://localhost:5173
SESSION_SECRET=NO2443ACCeSsS3cR3tt
ADMIN_KEY=2443